################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AzureServiceFabric/packages/Owin.1.0
/AzureServiceFabric/packages/Newtonsoft.Json.6.0.4
/AzureServiceFabric/packages/Microsoft.ServiceFabric.Services.Wcf.2.7.198
/AzureServiceFabric/packages/Microsoft.ServiceFabric.Services.Wcf.2.6.220
/AzureServiceFabric/packages/Microsoft.ServiceFabric.Services.Remoting.2.7.198
/AzureServiceFabric/packages/Microsoft.ServiceFabric.Services.Remoting.2.6.220
/AzureServiceFabric/packages/Microsoft.ServiceFabric.Services.2.7.198
/AzureServiceFabric/packages/Microsoft.ServiceFabric.Services.2.6.220
/AzureServiceFabric/packages/Microsoft.ServiceFabric.Services.2.6.210
/AzureServiceFabric/packages/Microsoft.ServiceFabric.FabricTransport.Internal.2.7.198
/AzureServiceFabric/packages/Microsoft.ServiceFabric.FabricTransport.Internal.2.6.220
/AzureServiceFabric/packages/Microsoft.ServiceFabric.Diagnostics.Internal.2.7.198
/AzureServiceFabric/packages/Microsoft.ServiceFabric.Data.2.7.198
/AzureServiceFabric/packages/Microsoft.ServiceFabric.Data.2.6.220
/AzureServiceFabric/packages/Microsoft.ServiceFabric.Data.2.6.210
/AzureServiceFabric/packages/Microsoft.ServiceFabric.Actors.2.7.198
/AzureServiceFabric/packages/Microsoft.ServiceFabric.5.7.198
/AzureServiceFabric/packages/Microsoft.ServiceFabric.5.6.220
/AzureServiceFabric/packages/Microsoft.ServiceFabric.5.6.210
/AzureServiceFabric/packages/Microsoft.Owin.Hosting.2.0.2
/AzureServiceFabric/packages/Microsoft.Owin.Host.HttpListener.2.0.2
/AzureServiceFabric/packages/Microsoft.Owin.2.0.2
/AzureServiceFabric/packages/Microsoft.AspNet.WebApi.OwinSelfHost.5.2.3
/AzureServiceFabric/packages/Microsoft.AspNet.WebApi.Owin.5.2.3
/AzureServiceFabric/packages/Microsoft.AspNet.WebApi.Core.5.2.3
/AzureServiceFabric/packages/Microsoft.AspNet.WebApi.Client.5.2.3
/NewExamples/Chapter-18/TermiteModel/.vs/TermiteModel/v15
/NewExamples/Chapter-18/SpatialSegregationModel/packages/Microsoft.VisualStudio.Azure.Fabric.MSBuild.1.6.2
/NewExamples/Chapter-18/SpatialSegregationModel/packages/Microsoft.ServiceFabric.Services.Remoting.2.8.219
/NewExamples/Chapter-18/SpatialSegregationModel/packages/Microsoft.ServiceFabric.Services.2.8.219
/NewExamples/Chapter-18/SpatialSegregationModel/packages/Microsoft.ServiceFabric.FabricTransport.Internal.2.8.219
/NewExamples/Chapter-18/SpatialSegregationModel/packages/Microsoft.ServiceFabric.Diagnostics.Internal.2.8.219
/NewExamples/Chapter-18/SpatialSegregationModel/packages/Microsoft.ServiceFabric.Data.2.8.219
/NewExamples/Chapter-18/SpatialSegregationModel/packages/Microsoft.ServiceFabric.Actors.2.8.219
/NewExamples/Chapter-18/SpatialSegregationModel/packages/Microsoft.ServiceFabric.6.0.219
/NewExamples/Chapter-18/SpatialSegregationModel/.vs/ActorSwarmApplication/v15/sqlite3
