################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AzureServiceFabric/packages/Owin.1.0
/AzureServiceFabric/packages/Newtonsoft.Json.6.0.4
/AzureServiceFabric/packages/Microsoft.ServiceFabric.Services.Wcf.2.7.198
/AzureServiceFabric/packages/Microsoft.ServiceFabric.Services.Wcf.2.6.220
/AzureServiceFabric/packages/Microsoft.ServiceFabric.Services.Remoting.2.7.198
/AzureServiceFabric/packages/Microsoft.ServiceFabric.Services.Remoting.2.6.220
/AzureServiceFabric/packages/Microsoft.ServiceFabric.Services.2.7.198
/AzureServiceFabric/packages/Microsoft.ServiceFabric.Services.2.6.220
/AzureServiceFabric/packages/Microsoft.ServiceFabric.Services.2.6.210
/AzureServiceFabric/packages/Microsoft.ServiceFabric.FabricTransport.Internal.2.7.198
/AzureServiceFabric/packages/Microsoft.ServiceFabric.FabricTransport.Internal.2.6.220
/AzureServiceFabric/packages/Microsoft.ServiceFabric.Diagnostics.Internal.2.7.198
/AzureServiceFabric/packages/Microsoft.ServiceFabric.Data.2.7.198
/AzureServiceFabric/packages/Microsoft.ServiceFabric.Data.2.6.220
/AzureServiceFabric/packages/Microsoft.ServiceFabric.Data.2.6.210
/AzureServiceFabric/packages/Microsoft.ServiceFabric.Actors.2.7.198
/AzureServiceFabric/packages/Microsoft.ServiceFabric.5.7.198
/AzureServiceFabric/packages/Microsoft.ServiceFabric.5.6.220
/AzureServiceFabric/packages/Microsoft.ServiceFabric.5.6.210
/AzureServiceFabric/packages/Microsoft.Owin.Hosting.2.0.2
/AzureServiceFabric/packages/Microsoft.Owin.Host.HttpListener.2.0.2
/AzureServiceFabric/packages/Microsoft.Owin.2.0.2
/AzureServiceFabric/packages/Microsoft.AspNet.WebApi.OwinSelfHost.5.2.3
/AzureServiceFabric/packages/Microsoft.AspNet.WebApi.Owin.5.2.3
/AzureServiceFabric/packages/Microsoft.AspNet.WebApi.Core.5.2.3
/AzureServiceFabric/packages/Microsoft.AspNet.WebApi.Client.5.2.3
/NewExamples/Chapter-18/TermiteModel/.vs/TermiteModel/v15
/NewExamples/Chapter-18/SpatialSegregationModel/packages/Microsoft.VisualStudio.Azure.Fabric.MSBuild.1.6.2
/NewExamples/Chapter-18/SpatialSegregationModel/packages/Microsoft.ServiceFabric.Services.Remoting.2.8.219
/NewExamples/Chapter-18/SpatialSegregationModel/packages/Microsoft.ServiceFabric.Services.2.8.219
/NewExamples/Chapter-18/SpatialSegregationModel/packages/Microsoft.ServiceFabric.FabricTransport.Internal.2.8.219
/NewExamples/Chapter-18/SpatialSegregationModel/packages/Microsoft.ServiceFabric.Diagnostics.Internal.2.8.219
/NewExamples/Chapter-18/SpatialSegregationModel/packages/Microsoft.ServiceFabric.Data.2.8.219
/NewExamples/Chapter-18/SpatialSegregationModel/packages/Microsoft.ServiceFabric.Actors.2.8.219
/NewExamples/Chapter-18/SpatialSegregationModel/packages/Microsoft.ServiceFabric.6.0.219
/NewExamples/Chapter-18/SpatialSegregationModel/.vs/ActorSwarmApplication/v15/sqlite3
/V1-Samples/.vs
/V1-Samples/Chapter-18/SpatialSegregationModel/.vs/ActorSwarmApplication/v15
/V1-Samples/Chapter-18/SpatialSegregationModel/ActorSwarm/bin/x64/Debug
/V1-Samples/Chapter-1/HelloWorldService/obj/x64/Debug
/V1-Samples/Chapter-18/SpatialSegregationModel/ActorSwarm/obj/x64/Debug
/V1-Samples/Chapter-18/SpatialSegregationModel/ActorSwarm.Interfaces/bin/x64/Debug
/V1-Samples/Chapter-18/SpatialSegregationModel/ActorSwarm.Interfaces/obj/x64/Debug
/V1-Samples/Chapter-18/SpatialSegregationModel/ActorSwarmApplication/obj/x64/Debug
/V1-Samples/Chapter-18/SpatialSegregationModel/Common/obj/Debug
/V1-Samples/Chapter-18/SpatialSegregationModel/Common/bin/Debug
/V1-Samples/Chapter-18/SpatialSegregationModel/packages/Microsoft.VisualStudio.Azure.Fabric.MSBuild.1.6.2
/V1-Samples/Chapter-18/SpatialSegregationModel/packages/Microsoft.ServiceFabric.Services.Remoting.2.8.219
/V1-Samples/Chapter-18/SpatialSegregationModel/packages/Microsoft.ServiceFabric.Services.2.8.219
/V1-Samples/Chapter-18/SpatialSegregationModel/packages/Microsoft.ServiceFabric.FabricTransport.Internal.2.8.219
/V1-Samples/Chapter-18/SpatialSegregationModel/packages/Microsoft.ServiceFabric.Diagnostics.Internal.2.8.219
/V1-Samples/Chapter-18/SpatialSegregationModel/packages/Microsoft.ServiceFabric.Data.2.8.219
/V1-Samples/Chapter-18/SpatialSegregationModel/packages/Microsoft.ServiceFabric.Actors.2.8.219
/V1-Samples/Chapter-18/SpatialSegregationModel/packages/Microsoft.ServiceFabric.6.0.219
/V1-Samples/Chapter-18/SpatialSegregationModel/SwarmTest/obj/Debug
/V1-Samples/Chapter-18/SpatialSegregationModel/SwarmTest/bin/Debug
/V1-Samples/Chapter-18/TermiteModel/.vs/TermiteModel/v15
/V1-Samples/Chapter-18/TermiteModel/Box/obj/x64/Debug
/V1-Samples/Chapter-18/TermiteModel/Box/bin/x64/Debug
/V1-Samples/Chapter-18/TermiteModel/Box.Interfaces/obj/Debug
/V1-Samples/Chapter-18/TermiteModel/Box.Interfaces/bin/Debug
/V1-Samples/Chapter-18/TermiteModel/ModelTest/obj/Debug
/V1-Samples/Chapter-18/TermiteModel/ModelTest/bin/Debug
/V1-Samples/Chapter-18/TermiteModel/packages/Microsoft.VisualStudio.Azure.Fabric.MSBuild.1.6.3
/V1-Samples/Chapter-18/TermiteModel/packages/Microsoft.ServiceFabric.Services.Remoting.2.8.219
/V1-Samples/Chapter-18/TermiteModel/packages/Microsoft.ServiceFabric.Services.2.8.219
/V1-Samples/Chapter-18/TermiteModel/packages/Microsoft.ServiceFabric.FabricTransport.Internal.2.8.219
/V1-Samples/Chapter-18/TermiteModel/packages/Microsoft.ServiceFabric.Diagnostics.Internal.2.8.219
/V1-Samples/Chapter-18/TermiteModel/packages/Microsoft.ServiceFabric.Data.2.8.219
/V1-Samples/Chapter-18/TermiteModel/packages/Microsoft.ServiceFabric.Actors.2.8.219
/V1-Samples/Chapter-18/TermiteModel/packages/Microsoft.ServiceFabric.6.0.219
/V1-Samples/Chapter-18/TermiteModel/Termite/obj/x64
/V1-Samples/Chapter-18/TermiteModel/Termite/bin/x64/Debug
/V1-Samples/Chapter-18/TermiteModel/Termite.Interfaces/obj/x64
/V1-Samples/Chapter-18/TermiteModel/Termite.Interfaces/bin/x64/Debug
/V1-Samples/Chapter-2/CalculatorClient/obj/Debug
/V1-Samples/Chapter-2/CalculatorClient/bin/Debug
/V1-Samples/Chapter-2/CalculatorService/obj/x64/Debug
/V1-Samples/Chapter-2/CalculatorService/bin/x64/Debug
/V1-Samples/Chapter-2/CalculatorServiceWCF/obj/x64/Debug
/V1-Samples/Chapter-2/CalculatorServiceWCF/bin/x64/Debug
/V1-Samples/Chapter-2/WebCalculatorApplication/obj/x64/Debug
/V1-Samples/Chapter-2/WebCalculatorService/bin/x64/Debug
/V1-Samples/Chapter-2/WebCalculatorService/obj/x64/Debug
/V1-Samples/Chapter-3/Common/obj/Debug
/V1-Samples/Chapter-3/Common/bin/Debug
/V1-Samples/Chapter-3/ShoppingCartService/bin/x64/Debug
/V1-Samples/Chapter-3/ShoppingCartService/obj/x64/Debug
/V1-Samples/Chapter-3/SimpleStoreApplication/obj/x64/Debug
/V1-Samples/Chapter-3/SimpleStoreClient/bin/x64/Debug
/V1-Samples/Chapter-3/SimpleStoreClient/bin/Debug
/V1-Samples/Chapter-3/SimpleStoreClient/obj
/V1-Samples/Chapter-4/Game/obj/x64/Debug
/V1-Samples/Chapter-4/Game/bin/x64/Debug
/V1-Samples/Chapter-4/Game.Interfaces/obj/x64/Debug
/V1-Samples/Chapter-4/Game.Interfaces/bin/x64/Debug
/V1-Samples/Chapter-4/Player/obj/x64/Debug
/V1-Samples/Chapter-4/Player/bin/x64/Debug
/V1-Samples/Chapter-4/Player.Interfaces/obj/x64/Debug
/V1-Samples/Chapter-4/Player.Interfaces/bin/x64/Debug
/V1-Samples/Chapter-4/TestClient/obj/Debug
/V1-Samples/Chapter-4/TestClient/bin/Debug
/V1-Samples/Chapter-5/ConsoleRedirect/obj/x64/Debug
/V1-Samples/Chapter-5/ConsoleRedirect/bin/x64/Debug
/V1-Samples/Chapter-5/HelloWorldServiceWithData/obj/x64/Debug
/V1-Samples/Chapter-5/HelloWorldServiceWithData/bin/x64/Debug
/V1-Samples/Chapter-5/NodeApp/obj/x64/Debug
/V1-Samples/Chapter-5/NodeApp/bin/x64/Debug
/V1-Samples/packages/Owin.1.0
/V1-Samples/packages/Newtonsoft.Json.6.0.4
/V1-Samples/packages/Microsoft.VisualStudio.Azure.Fabric.MSBuild.1.6.1
/V1-Samples/packages/Microsoft.VisualStudio.Azure.Fabric.MSBuild.1.6.0
/V1-Samples/packages/Microsoft.ServiceFabric.Services.Wcf.2.7.198
/V1-Samples/packages/Microsoft.ServiceFabric.Services.Wcf.2.6.220
/V1-Samples/packages/Microsoft.ServiceFabric.Services.Remoting.2.7.198
/V1-Samples/packages/Microsoft.ServiceFabric.Services.Remoting.2.6.220
/V1-Samples/packages/Microsoft.ServiceFabric.Services.2.7.198
/V1-Samples/packages/Microsoft.ServiceFabric.Services.2.6.220
/V1-Samples/packages/Microsoft.ServiceFabric.Services.2.6.210
/V1-Samples/packages/Microsoft.ServiceFabric.FabricTransport.Internal.2.7.198
/V1-Samples/packages/Microsoft.ServiceFabric.FabricTransport.Internal.2.6.220
/V1-Samples/packages/Microsoft.ServiceFabric.Diagnostics.Internal.2.7.198
/V1-Samples/packages/Microsoft.ServiceFabric.Data.2.7.198
/V1-Samples/packages/Microsoft.ServiceFabric.Data.2.6.220
/V1-Samples/packages/Microsoft.ServiceFabric.Data.2.6.210
/V1-Samples/packages/Microsoft.ServiceFabric.Actors.2.7.198
/V1-Samples/packages/Microsoft.ServiceFabric.5.7.198
/V1-Samples/packages/Microsoft.ServiceFabric.5.6.220
/V1-Samples/packages/Microsoft.ServiceFabric.5.6.210
/V1-Samples/packages/Microsoft.Owin.Hosting.2.0.2
/V1-Samples/packages/Microsoft.Owin.Host.HttpListener.2.0.2
/V1-Samples/packages/Microsoft.Owin.2.0.2
/V1-Samples/packages/Microsoft.AspNet.WebApi.OwinSelfHost.5.2.3
/V1-Samples/packages/Microsoft.AspNet.WebApi.Owin.5.2.3
/V1-Samples/packages/Microsoft.AspNet.WebApi.Core.5.2.3
/V1-Samples/packages/Microsoft.AspNet.WebApi.Client.5.2.3
